/*
  colors:
  #EBF8FF
  #D0EFFF
  #187BCD
  #1167B1
  #04254B
*/


@font-face {
  font-family: "Europa";
  src: url("./fonts/Europa-regular.ttf");
}

@font-face {
  font-family: "iCiel";
  src: url("./fonts/iCiel-medium.ttf");
}

* {
  font-family: "Europa";
}

h1, h2, h3, h4, h5, h6, p, span {
  color: #4F4F4F
}

html {
  scroll-behavior: smooth;
}

.section-title {
  font-size: 40px;
  margin-left: 3%;
}

.section-container {
  padding: 20px 0px;
}


/* Fade In */

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}


/* Navbar */

.navigation-section {
  background-color: #F7F7F7;
}

.navbar-name {
  font-size: 24px;
  font-family: "Europa";
  font-weight: 700;
  margin: 0;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.nav-link:hover {
  transition: all 0.3s;
}

.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}


/* Introduction */

.typewriter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: auto;
}

.typewriter-text {
  font-size: 52px;
  color: #4F4F4F;
}

.typewriter-cursor {
  font-size: 52px;
  color: #187BCD;
}

#scroll-to-see-more {
  opacity: 0;
  color:#828282;
}

.arrow-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.arrow-icon-container:hover {
  cursor: pointer;
}

.arrow-icon {
  width: 48px;
  height: 48px;
  fill: #D3D3D3;
  transition: all 0.5s;
}

.arrow-icon:hover {
  fill: #828282;
}


/* About */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

.myself-image-container{
  width: 100%;
  padding: 20px;
}

.myself-image {
  width: 100%;
  box-shadow: 4px 4px 12px 1px #686868;
}

.myself-description-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.social-media-icons a {
  margin: 0px 5px;
  transition: all 0.3s;
}

.social-media-icons a:hover {
  transform: translateY(-2px);
}

.social-media-icons a:hover .icon{
  transition: all 0.3s;
  color: #828282;
}

.social-media-icons a .icon {
  color: #4F4F4F;
}


/* Skills */

.skill-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.skill-image {
  width: 100%;
}

.skill-title {
  padding: 10px 0px;
}


/* Work */

.work-container {
  width: 80%;
  margin: auto; 
}

.work-container p {
  text-align: right;
}

.work-tile-container {
  margin: 10px 0px;
}

.work-image-container {
  width: 100%;
  box-shadow: 4px 4px 12px 1px #686868;
}

.work-image-container:hover {
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0.7;
  box-shadow: 4px 4px 20px 1px #020202;
}

.work-image {
  width: 100%;
}

.work-modal-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.work-modal-header div {
  width: 40%;
  margin-right: 20px;
}

.work-modal-header div img {
  width: 100%;
  border-radius: 4px;
}


/* Projects */

.projects-container {
  width: 80%;
  margin: auto; 
}

.projects-container p {
  text-align: right;
}

.project-tile-container {
  margin: 10px 0px;
}

.project-image-container {
  border: 1px solid lightgray;
  background-color: black;
}

.project-image-container .title {
  display: none;
}

.project-image-container .github-link {
  display: none;
}

.project-image-container p {
  font-size: 20px;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.github-link{
  color: white;
  position: absolute;
  bottom: 8px;
  right: 24px;
  z-index: 1;
}

.project-image-container img {
  width: 100%;
}

.project-tile-container a:hover .project-image-container img{
  transition: all 0.5s;
  opacity: 0.3;
}

.project-tile-container a:hover .project-image-container .title{
  transition: all 0.5s;
  display: block;
}

.project-tile-container a:hover .project-image-container .github-link{
  transition: all 0.5s;
  display: block;
}

.github-link:hover {
  color: lightgray;
  transition: all 0.3s;
  transform: translateY(-4px);
}