/* 
  Pallete 
  https://www.schemecolor.com/pastel-sky.php
*/

/* Navbar */

.navigationSection {
  background-color: #C1D1DB;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.happiness-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80px;
  height: 80px;
  padding: 16px;
  border-radius: 40px;
  background-color: #E4F5FF;
}

.happiness-image {
  width: 100%;
}

.navLink {
  color: #93B3CF;
}

.navLink:hover {
  color: #7AA0CB;
}

/* Introduction */

.typewriterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 80px auto;
}

.typewriterText {
  font-size: 50px;
}

.typewriterCursor {
  font-size: 50px;
  color: #7AA0CB;
}